# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [11]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([33502, 52226, 51114, 59387, 61358, 66355, 72784, 39199, 45164,
       50363, 40077, 63214, 69368, 23826, 52070, 18965, 37005, 34913,
       64569, 61958, 51235, 26814, 22507, 57756, 66261, 66830, 35795,
       69232, 66086, 47104, 47281, 21915, 60999, 42556, 28039, 67011,
       30890, 61908, 34967, 51201, 31280, 25359, 30299, 47799, 72478,
       27357, 40806, 51616, 68896, 72805, 30990, 61015, 41233, 50442,
       59570, 26104, 50402, 55738, 63282, 58300, 48510, 36319, 62562,
       18308, 27545, 16326, 20777, 24952, 65043, 33086, 63457, 19700,
       19659, 62986, 55737, 37222, 72261, 47823, 57587, 38413, 64470,
       20342, 49710, 67516, 70007, 63919, 32815, 48362, 64480, 63734,
       50097, 33682, 65462, 66774, 20742, 67266, 63834, 66852, 61837,
       27808, 52885, 69900, 48518, 54711, 71906, 59756, 57017, 60842,
       39812, 48738, 44995, 46189, 67921, 29645, 26856, 52305, 19353,
       40697, 26680, 40606, 18203, 52106, 65268, 18253, 69082, 64024,
       54085, 61490, 67034, 51877, 16882, 60841, 22403, 56440, 37282,
       30066, 25611, 46136, 64501, 69754, 36317, 28966, 44424, 44871,
       30784, 27948, 49624, 68791, 27258, 55458, 59175, 48471, 35183,
       52887, 32831, 57341, 62447, 61082, 20046, 72236, 68856, 42745,
       32477, 28016, 18739, 28240, 56399, 35303, 34091, 55886, 38029,
       38345, 69844, 18072, 34019, 32726, 26226, 54591, 27457, 46677,
       66849, 31683, 72259, 30329, 32929, 40095, 64581, 41506, 45159,
       22453, 55143, 38748, 34158, 22725, 18348, 44190, 22656, 28462,
       48653, 45782, 72029, 27074, 53577, 55592, 63284, 42736, 17544,
       36158, 34009, 18358, 67499, 16225, 43734, 53772, 66281, 62367,
       31507, 70964, 31240, 68834, 39477, 36346, 42381, 23061, 19479,
       18855, 44480, 71748, 57813, 34799, 23483, 35692, 63971, 15492,
       49899, 24289, 72079, 17664, 57794, 33316, 70907, 19867, 45005,
       64411, 25963, 50412, 70685, 71406, 58283, 70440, 31297, 49893,
       27407, 33235, 63829, 51860, 40377, 31806, 56522, 53247, 64870,
       44598, 57807, 71522, 63311, 50498, 62623, 60355, 43053, 50997,
       37437, 39757, 69862, 49858, 18357, 47038, 63172, 17271, 43202,
       37967, 23208, 28472, 57283, 18914, 65733, 16808, 32877, 16673,
       25126, 40651, 39946, 69187, 39826, 47275, 56739, 58561, 37301,
       42684, 40509, 39302, 54209, 41754, 52763, 26322, 32455, 72079,
       39635, 20532, 52228, 25114, 22483, 19886, 46214, 22948, 52011,
       57155, 60131, 23113, 18471, 35409, 18881, 27531, 56149, 28951,
       47375, 40010, 18158, 57079, 59872, 72010, 69724, 29323, 20537,
       27340, 66791, 20110, 70282, 50468, 21051, 30280, 28697, 25701,
       26661, 48038, 51687, 38175, 68367, 32514, 66110, 44951, 39693,
       57203, 39978, 44101, 55020, 16197, 62103, 20135, 20122, 38218,
       47163, 58093, 33773, 38465, 60410, 23812, 32905, 27908, 63395,
       54710, 49392, 47945, 15196, 51892, 18565, 24005, 67663, 59243,
       63545, 57501, 28803, 40058, 32152, 54784, 33392, 46588, 62596,
       39406, 23213, 27451, 61424, 69360, 48266, 24397, 30579, 44618,
       48698, 34518])

### Step 8. Add the column owners to cars

In [13]:
cars['owners'] = nr_owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,33502
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,52226
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,51114
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,59387
4,17.0,8,302,140,3449,10.5,70,1,ford torino,61358